---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About" currentPath="/about">
  <p>
    Find me on <a href="https://github.com/redft">GitHub</a>.
  </p>
</BaseLayout>
