---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Search" currentPath="/search">
  <h1 class="post-title">Search</h1>

  <div id="search"></div>

  <link rel="stylesheet" href="/pagefind/pagefind-ui.css" />
  <script data-astro-rerun>
    window.addEventListener('DOMContentLoaded', () => {
      import('/pagefind/pagefind-ui.js').then(() => {
        new PagefindUI({
          element: '#search',
          showSubResults: false,
          showImages: false,
          resetStyles: false,
        });
      });
    });
  </script>
</BaseLayout>
