<!doctype html>
<html lang="en">
    <head>
        <title>{{ site.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/assets/css/sidebar.css" rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="/assets/css/pygments.css" rel="stylesheet">
    </head>
    <body>

        {% include sidebar.html %}

        <div class="main">
            {{ content }}
        </div>

    </body>
</html>
